@import '/vendor/filament/filament/resources/css/theme.css';
@import '/vendor/awcodes/filament-table-repeater/resources/css/plugin.css';
@config 'tailwind.config.js';

@layer base {
    :root {
        --color-primary: #7c3aed;
        --color-primary-hover: #955FF0;
        --color-primary-content: #ffffff;
        --color-primary-dark: #5f14e0;
        --color-primary-light: #9b69f1;

        --color-secondary: #F09001;
        --color-secondary-content: #ffffff;
        --color-secondary-dark: #e0142f;
        --color-secondary-light: #f1697a;

        --color-background: #efeff1;
        --color-foreground: #fbfbfb;
        --color-border: #dedde2;

        --color-copy: #252329;
        --color-copy-light: #645e6e;
        --color-copy-lighter: #8a8495;

        --color-success: #3aed3a;
        --color-success-light: #5FF05F;
        --color-warning: #eded3a;
        --color-error: #ed3a3a;
        --color-success-content: #032503;
        --color-warning-content: #252503;
        --color-error-content: #ffffff;


    }
  }
  .bg-success:hover{
    background-color: var(--color-success-light);
}
.bg-success {
    background-color: var(--color-success);
}
  .bg-secondary:hover{
    background-color: var(--color-secondary-light);
}
.bg-secondary {
    background-color: var(--color-secondary);
}
  .bg-warning {
    background-color: var(--color-warning);
  }
  .bg-danger {
    background-color: var(--color-error);
  }
.bg-primary:hover{
    background-color: var(--color-primary-light);
}
.text-primary {
    color: var(--color-primary);
}
.bg-primary {
    background-color: var(--color-primary);
}

.text-success-content {
    color:var(--color-success-conten);
}
.bg-success-content {
    background-color: var(--color-success-content);
}

.fi-modal-window{
    @apply bg-primary-100;
}
.fi-breadcrumbs-item-label {
    @apply text-primary-400;
}
.fi-ta-header-toolbar {
    @apply bg-primary-50 dark:bg-gray-800;
}
.fi-ta-header {
    @apply bg-primary-100 dark:bg-gray-700 border-none;
}
.fi-section-header-icon {
    @apply text-white dark:text-white border-none;
}
.fi-section-header-heading {
    @apply text-white;
}
.fi-section-header-description {
    @apply text-white dark:text-white;
}
.fi-section-header {

    @apply bg-primary-500 dark:bg-primary-800 rounded-t-xl;
}
/* width */
::-webkit-scrollbar {
    width: 8px;
    height: 8px;
}

/* Track */
::-webkit-scrollbar-track {
    @apply rounded-xl bg-primary-50 dark:bg-gray-700;


}

/* Handle */
::-webkit-scrollbar-thumb {
    @apply rounded-xl bg-primary-500 dark:bg-primary-600;

}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    @apply bg-primary-400 dark:bg-primary-500;
}

/* .fi-simple-main-ctn {
    background-image: url('/storage/images/dolphin_directory_bg_01.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}


.dark .fi-simple-main-ctn {
    background-image: url('/storage/images/dolphin_directory_bg_02.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
} */

.fi-btn , .fi-input{
    @apply transition-all duration-300 ease-in-out;
}

.fi-simple-layout {
    background-image: url('http://127.0.0.1:8000/images/background/suitify_background_02.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.fi-simple-main {
    @apply shadow-md;
}

.fi-simple-header-heading {
    @apply text-primary-500;
}

.fi-sidebar {
    @apply p-4 !important;
}

.fi-sidebar-header {
    @apply bg-transparent ring-0 shadow-none !important;
}

.fi-sidebar-item-active a {
    @apply bg-primary-600 dark:bg-primary-600 hover:bg-primary-600 dark:hover:bg-primary-600 text-white dark:text-white;
}

.fi-sidebar-item-active .fi-sidebar-item-label {
    @apply text-white dark:text-white;
}

.fi-sidebar-item-active svg {
    @apply text-white dark:text-white;
}
.fi-page-sub-navigation-sidebar-ctn {
    @apply border border-gray-100 dark:border-gray-700 rounded-xl p-4 shadow-sm;
}
.fi-sidebar-item:not(.fi-sidebar-item-active) a {
    @apply dark:text-gray-400 hover:bg-primary-100 dark:hover:bg-gray-800/50 dark:hover:text-white;
}

.fi-sidebar-item:not(.fi-sidebar-item-active):hover a svg {
    @apply dark:text-white;
}

.fi-topbar {
    @apply relative;
}

.fi-topbar nav {
    @apply bg-transparent dark:bg-transparent ring-0 shadow-none;
}

.fi-layout {
    @apply bg-primary-100 dark:bg-gray-900;
    /* @apply bg-[#F9FAFB] dark:bg-gray-900; */
}

.fi-main {
    @apply bg-white dark:bg-gray-800 ltr:rounded-tl-3xl rtl:rounded-tr-3xl shadow !max-w-full !overflow-y-auto flex-grow;
}

.fi-main-ctn {
    @apply !h-screen;
}


.fi-wi-stats-overview-stat {
    @apply border border-gray-200 ring-0;
}



.fi-fo-tabs {
    @apply ring-0 shadow-md border border-gray-200;
}





.fi-header-heading {
    @apply text-primary-500 dark:text-primary-600;
}
